<h1>Login</h1>
<form action="/users/login" method="post">
Email: <input type="email" name="email" id="email">
password: <input type="password" name="password" id="password">
<input type="submit" value="Enviar">
</form>

<h2>Usuario nuevo</h2>
<button onclick="location.href='/register'">Register</button>

