<form action="/users/register" method="post">
    <label for="firts_name">firts_name</label>
    <input type="text" name="first_name"><br>
    
    <label for="last_name">last_name</label>
    <input type="text" name="last_name"><br>

    <label for="email">email</label>
    <input type="email" name="email"><br>

    <label for="age">age</label>
    <input type="number" name="age"><br>

    <label for="password">password</label>
    <input type="password" name="password"><br>

    <input type="submit" value="Register">
</form>

<button onclick="location.href='/'">Login</button>